.form-card {
  background-color: #000000;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.form-card input,
.form-card textarea,
.form-card select {
  background-color: #222;
  color: white;
  border: 1px solid #444;
}

.form-card input::placeholder,
.form-card textarea::placeholder {
  color: #aaa;
}

.gold-btn {
  background: linear-gradient(90deg, #d4af37 0%, #e0c97f 100%);
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}

.gold-btn:hover {
  opacity: 0.85;
  color: black;
}
.ii{

    height: 600px;;
}
.hd{
    height: 500px;
    width: 100%;
}
.pqrs{
  padding-top: 200px;
}